@{
    ViewData["Title"] = "Trang chủ";
}
<style>
li{
    display: inline;
    margin-right: 10px;

}
</style>

<ul>
    <li>
        <a href="~/Home/index">Trang chủ</a>
    </li>
    <li>
        <a href="~/Home/GioiThieu">Giới thiệu</a>
</ul>

<h2>Index</h2>

<p>Hello from our View Template!</p>