<div class="header">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <!-- Logo -->
            <div class="col-md-2 col-sm-3 col logo_section">
                <div class="logo">
                    <a href="/Index"
                        <img src="~/Content/images/logo.png" asp-append-version="true" />
                    </a>
                </div>
            </div>

            <!-- Navigation -->
            <div class="col-md-8 col-sm-12">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="skating.html">Skating</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shop.html">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <!-- User Icons -->
            <div class="col-md-2 text-right">
                <ul class="email list-unstyled d-flex justify-content-end">
                    <li class="d-none d-md-block">
                        <a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <li class="d-none d-md-block">
                        <a href="javascript:void(0)"><i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
